@using AadApp.ViewModels
@model List<UserDetails>
@{
    ViewBag.Title = "User details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is only visible for authenticated user</p>
<p>Number of users in the AAD tenant: @Model.Count</p>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
    @foreach(var user in Model)
    {
        <tbody>
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.UserName</td>
            </tr>
        </tbody>
    }
    </table>
</div>
